<h2>The List Of Saved Articles goes here.</h2>
<p>list all articles where the boolean has been changed to true<p/>
<p>need to format and  add Pix</p>
<p>need to add "notes" functionality</p>]
{{{ article }}}